---
# Only the main Sass file needs front matter (the dashes are enough)
---
// Import partials from `sass_dir` (defaults to `_sass`)
@import "pygments";
@import url(https://fonts.googleapis.com/css?family=Open+Sans);
@charset "utf-8";

$spacing-unit: 20px;

// Colours
$grey: #444;
$salmon: #fa8072;
$red: #FF0000;
$red-light: lighten($light, 30%);
$red-dark: darken($red, 25%);
$grey-light: lighten($grey, 30%);
$grey-dark: darken($grey, 25%);
$yellow-light: lighten(yellow, 40%);

// Width of the content area
$content-width: 800px;
$on-laptop: 750px;
$on-palm: 600px;

@mixin media-query($device) {
    @media screen and (max-width: $device) {
        @content;
    }
}

/* Reset some basic elements */
body, h1, h2, h3, h4, h5, h6, p, blockquote, pre, hr, dl, dd, ol, ul, figure {
    margin: 0;
    padding: 0;
    line-height: 100%;
}

/* Site header */
header {
}

.page-content {
    margin-top: $spacing-unit*2;
    @include media-query($on-palm) {
        margin-top: $spacing-unit;
    }
}

/* Page content */
.post-list {
    margin-left: 0;
    list-style: none;
    > li {
        margin-bottom: $spacing-unit;
    }
}

/* Posts */
.post-link {
    time {
        font-size: small;
        display: block;
    }
    a {
    }
}

.post-meta {
    margin-bottom: $spacing-unit;
    color: $grey;
    font-size: smaller;
}

.post-content {
    margin-bottom: $spacing-unit*2;
}

.site-footer {
    color: $red-dark;
    margin-bottom: $spacing-unit;
}

/* Basic styling */
body {
    font-family: 'Open Sans', serif;
    background-color: $salmon;
    -webkit-text-size-adjust: 100%;
    -webkit-font-feature-settings: "kern" 1;
    -moz-font-feature-settings: "kern" 1;
    -o-font-feature-settings: "kern" 1;
    font-feature-settings: "kern" 1;
    font-kerning: normal;
    font-size: 16px;
}

::-webkit-scrollbar              { padding-top: $spacing-unit; background-color: #fff; height: 5px;}
::-webkit-scrollbar-button       { }
::-webkit-scrollbar-track        { background-color: #ccc; }
::-webkit-scrollbar-track-piece  { }
::-webkit-scrollbar-thumb        { background-color: #ddd; }
::-webkit-scrollbar-corner       { }
::-webkit-resizer                { }

/* Headings */
h1, h2, h3, h4, h5, h6 {
    font-family: 'Open Sans', serif;
    font-weight: normal;
    color: $red;
}
