<header>

    <a href="/"><h1 class="post-title">Mario Measic</h1></a>

    <p>
        Data Scientist/Engineer at Strands Labs. Find me on
            <a href="https://github.com/mmeasic">Github</a>, or
            <a href="mailto:mario.measic.gavran@gmail.com">email</a>.
    </p>

    <p style="font-size: smaller">
        Filter by
        <a href="/">All</a> ({{ site.posts |size }}),
    </p>

</header>

<article class="post">
    <div class="post-content">
        {{ content }}
    </div>
</article>